body {
    font-style: 'Roboto';
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

textarea {
    resize: none;
}

.btn-danger {
    background-color: indianred;
}

.invisible {
    display: none;
}




/*
    HEADER start
*/

.header {
    background-color: indianred;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.header .navbar {
    padding: 0;
}

.header-nav .nav-item {
    padding: 20px 10px;
}

.header-nav .nav-item:hover {
    background-color: firebrick;
}

.header-nav li {
    padding: 0;
    transition: all 0.2s;
}

.header-nav a, .header-nav a:hover, .header-nav a:focus {
    color: white;
}

.header-nav .navbar-brand {
    font-size: 40px;
}

.header-nav .authorization .aut {
    padding: 30px 10px;
    transition: all 0.2s;
}

.header-nav .authorization .aut:hover {
    background-color: firebrick;
}


/*
    CAROUSEL
 */

.title-carousel {
    padding: 30px 0;
    text-align: center;
}

.carousel {
    height: 400px;

}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(205,92,92,0.1);
}

.carousel-item {
    height: 400px;
}

.carousel-item p {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(205, 92, 92, 0.85);
}

.carousel-item a {
    color: white;
}

.carousel-item a:hover {
    color: #e1e1e1;
    transition: all 0.1s;
}



/*
    TRAINERS CARDS
 */

.main-trainers {
    padding-bottom: 20px;
}

.main-content {
    padding: 30px 0;
    min-height: 442px;
}

.train-cards .card {
    margin-bottom: 40px;
}

.train-cards .img-div {
    overflow: hidden;
    max-height: 220px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.train-cards .card img {
    height: auto;
}

.train-cards a:hover {
    color: black;
}

.train-cards .card:hover {
    background-color: whitesmoke;

}

.train-cards .years-trainers {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.main-content .train-cards {
    margin-bottom: 30px;
}

/*
    SIDEBAR
 */

.sidebar .topics {
    background-color: indianred;
    border-radius: 5px;
    color: white;
}

.sidebar .topics li {
    list-style-type: none;
    padding: 15px 20px;
    border-top: 1px solid ;
}

.sidebar .topics h3 {
    padding: 15px 20px;
}

.sidebar .topics ul {
    padding: 0;
    margin: 0;
}

.sidebar .topics a {
    color: white;
    transition: all 0.2s;
}

.sidebar .topics a:hover {
    color: white;
    padding-left: 5px;
    transition: all 0.2s;
}

.sidebar .title-search {
    padding-top: 15px;
}

.sidebar .sidebar-search {
    background-color: indianred;
    border-radius: 5px;
    padding: 15px;
}

.sidebar .sidebar-search button {
    font-size: 20px;
}

.sidebar .sidebar-search button {
    border-color: white;
    background-color: indianred;
    color: white;
}

.sidebar .sidebar-search button:hover {
    background-color: #c13535;
}

.sidebar .sidebar-search button:active {
    background-color: firebrick;
}

.sidebar-search select {
    margin-top: 10px;
    background-color: indianred;
    color: white;
    border: 1px solid white;
}

.sidebar .sidebar-search input:focus {
    box-shadow: none;
    border-color: firebrick;
}

.sidebar-search select:focus {
    box-shadow: none;
    border-color: white;
}

/*
    FOOTER
 */

.footer {
    color: white;
    background: indianred;
}

.footer-content {
    text-align: center;
    padding: 30px;
}

.footer .socials {
    padding: 10px 0;
}

.footer .socials a {
    color: white;
    font-size: 30px;
    width: 50px;
    margin: 15px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
}

.footer .socials a:hover {
    color: #e1e1e1;
    border-color: #e1e1e1;
}

.footer .rules {
    font-size: 15px;
}


/*
    PROGRAMS content
 */

.program-cards img {

    border-radius: 5px;
}

.program-cards .img-div {
    height: 200px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.program-cards .card {
    margin-bottom: 30px;
    font-size: 15px;
}

.program-cards .card:hover {
    background-color: whitesmoke;
}

.program-cards .card-date {
    padding-bottom: 5px;
}

.program-describe .button-program-add button {
    background-color: indianred;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
}

.program-describe .like-program {
    background-color: indianred;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
}

.program-describe button:hover {
    background-color: firebrick;
}

.program-describe button:focus {
    background-color: firebrick;
    box-shadow: none;
    color: black;
}

.program-describe button:active {
    box-shadow: none;
    color: black;
    --bs-btn-focus-shadow-rgb: none;
}

.program-describe .describe-program {
    padding-bottom: 30px;
}

.button-program-add button, .button-program-edit button {
    font-size: 20px;
}

.program-cards .card-author, .program-cards .card-date, .program-cards .card-date-change {
    font-style: italic;
}


/*
    TRAINERS content
 */

.trainers-cards img {
    border-radius: 5px;
}

.trainers-cards .img-div {
    max-height: 200px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.trainers-cards .card {
    margin-bottom: 30px;
    font-size: 15px;
}

.trainers-cards .card:hover {
    background-color: whitesmoke;
}

.trainers-cards .card-date {
    padding-bottom: 5px;
}

.trainers-cards .card .year {
    font-style: italic;
}


/*
    ABOUT
 */

.about-content .about-title {
    padding-bottom: 22px;
}

.about-content .row-div {
    padding-bottom: 20px;
}


/*
    MEMBERSHIPS
 */

.memberships-content .card:hover {
    background-color: white;
}


.memberships-content .card-body {
    text-align: center;
}

.memberships-content .card-body .card-describe {
    padding-bottom: 5px;
}

.memberships-content .card-body button {
    margin-top: 8px;
    font-size: 20px;
}

.img-memsh img {
    border-radius: 10px;
    border: 5px solid rgba(205, 92, 92, 0.79);
}

.memships-cards .img-memsh {
    margin-bottom: 30px;
}

/*
    TRAINER DESCRIBE and PROGRAM DESCRIBE
 */

.trainer-describe .img-div, .program-describe .img-div {
    padding-top: 30px;
    max-width: 700px;
}

.trainer-describe img, .program-describe img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.trainer-describe > div, .program-describe > div {
    padding: 10px 0px;
}

.trainer-describe .weight-train, .program-describe .weight-program {
    font-style: italic;
}

.trainer-describe button {
    margin: 10px 0;
    font-size: 20px;
}

/*
    SUPPORT
 */

.support-content .button-support {
    margin-bottom: 40px;
}


/*
    REGISTRATION
 */


.reg-content .button-reg, .aut-content .button-reg {
    margin-left: 10px;
}

.error-msg {
    color: red;
}


/*
    PROFILE
 */


.profile-content img {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.profile-content .img-div {
    padding: 0;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;

}

.profile-content .profile-property {
    padding: 5px 0;
}

.profile-content .admin button {
    font-size: 20px;
    margin: 20px 0;
}

.profile-content .edit button {
    font-size: 20px;
    margin: 10px 0;
}

.profile-edit .btn-div {
    margin-top: 10px;
}

.profile-edit .btn-primary {
    margin-right: 15px;
}

.profile-content .change-photo {
    margin: 20px 0;
}

.profile-content .edit_programs button {
    font-size: 20px;
    margin: 15px 0;
}


/*
    FORUM
 */

.forum-content .card {
    margin-bottom: 30px;
}

.forum-content .author {
    display: flex;
}

.forum-content .author div {
    padding: 5px 20px 5px 0px;
    font-style: italic;
    font-size: 16px;
}

.forum-content .card:hover {
    background-color: whitesmoke;
}

.forum-cards {
    margin-top: 10px;
}

.forum-content .last-date {
    font-style: italic;
    font-size: 15px;
}

.forum-content .card-comment {
    margin-bottom: 0;
}

.forum-content .card-comment {
    font-size: 20px;
}

.topic-describe .param {
    font-style: italic;
    font-size: 15px;
}

.topic-describe .author-topic {
    margin: 15px 0;
    font-style: italic;
}

/*
    PAGINATION
 */

.pagination {
    --bs-pagination-color: white;
    --bs-pagination-hover-color: white;
    --bs-pagination-bg: indianred;
    --bs-pagination-hover-bg: firebrick;
    --bs-pagination-focus-color: white;
    --bs-pagination-focus-bg: firebrick;
    --bs-pagination-active-bg: firebrick;
    --bs-pagination-active-border-color: #dee2e6;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(178, 34, 34, 0.25);
}

.pagination li .main-page {
    border: 1px solid firebrick;
}

.pagination .active {
    border: 1px solid white;
}


/*
    COMMENTS
 */

.comments-block {
    background-color: whitesmoke;
    padding: 10px 15px !important;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.comments-block .card-text {
    margin-bottom: 10px;
}

.comments-block .card-inline-top {
    padding-bottom: 10px;
}

.comments-block .card-italic {
    font-style: italic;
    font-size: 15px;
}

.comments-block .card-inline-bottom .a {
    font-size: 15px;
    color: gray;
}

.comments-block .card-inline-bottom .a:hover {
    text-decoration: underline;
}

.admin-comments .card {
    margin: 20px 0;
}

.admin-comments .card:hover {
    background-color: whitesmoke;
}

.collapse-comment {
    margin-bottom: 20px;
    margin-left: 50px;
}

.btn-comment-answer:hover {
    background-color: gray !important;
}

.btn-comment-answer:focus {
    background-color: gray !important;
}

.answer-comment {
    margin-left: 50px;
}

.comment-title {
    margin-top: 20px;
    margin-bottom: 20px;
}





/*
    MEDIA SCREEN
 */


@media screen and (max-width: 992px) {
    .program-cards .img-div, .trainers-cards .img-div, .train-cards .img-div{
        height: 300px;
        max-height: 400px;
    }
}

@media screen and (max-width: 576px) {
    .profile-content .img-div {
        max-height: 500px;
    }
}




/*
    ADMINISTRATION
 */


/*
    USERS
 */

.admin-content .admin-params {
    padding: 10px 0;
    margin: 10px 0;
}

.admin-content .admin-string {
    padding: 10px 0;
    border: 1px solid black;
    margin: 10px 0;
    border-radius: 5px;
}

.admin-content .admin-string .delete a {
    color: red;
}

.admin-content .admin-string a:hover {
    text-decoration: underline;
}

.admin-content .admin-string:hover {
    background-color: whitesmoke;
}


/*
    PROGRAMS
 */


.buttons-form {
    margin: 15px 0;
}


/*
    SIDEBAR
 */

















