body {
    font-style: 'Roboto';
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/*
    HEADER start
*/

.header {
    background-color: indianred;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.header .navbar {
    padding: 0;
}

.header-nav .nav-item {
    padding: 20px 10px;
}

.header-nav .nav-item:hover {
    background-color: firebrick;
}

.header-nav li {
    padding: 0px 0;
    transition: all 0.2s;
}

.header-nav a, .header-nav a:hover, .header-nav a:focus {
    color: white;
}

.header-nav .navbar-brand {
    font-size: 40px;
}

.header-search button {
    font-size: 20px;
}

.header-nav .header-search button {
    border-color: white;
    background-color: indianred;
    color: white;
}

.header-nav .header-search button:hover {
    background-color: #c13535;
}

.header-nav .header-search button:active {
    background-color: firebrick;
}

.header-nav .header-search input:focus {
    box-shadow: none;
    border-color: firebrick;
}

/*
    CAROUSEL
 */

.title-carousel {
    padding: 30px 0;
    text-align: center;
}

.carousel {
    height: 400px;

}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carousel-item {
    height: 400px;
}

.carousel-item p {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(205, 92, 92, 0.85);
}

.carousel-item a {
    color: white;
}

.carousel-item a:hover {
    color: lightgray;
    transition: all 0.1s;
}


/*
    TRAINERS CARDS
 */

.main-trainers {
    padding-bottom: 20px;
}

.main-content {
    padding: 30px 0;
}

.train-cards .card {
    margin-bottom: 40px;
}

.train-cards .card img {
    min-height: 300px;
    max-height: 300px;
}

.train-cards a:hover {
    color: black;
}

.train-cards .card:hover {
    background-color: whitesmoke;

}

/*
    SIDEBAR
 */

.sidebar .topics {
    background-color: indianred;
    border-radius: 5px;
    color: white;
}

.sidebar .topics li {
    list-style-type: none;
    padding: 15px 20px;
    border-top: 1px solid ;
}

.sidebar .topics h3 {
    padding: 15px 20px;
}

.sidebar .topics ul {
    padding: 0;
    margin: 0;
}

.sidebar .topics a {
    color: white;
    transition: all 0.2s;
}

.sidebar .topics a:hover {
    color: white;
    padding-left: 5px;
    transition: all 0.2s;
}













