body {
    font-style: 'Roboto';
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

textarea {
    resize: none;
}

/*
    HEADER start
*/

.header {
    background-color: indianred;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.header .navbar {
    padding: 0;
}

.header-nav .nav-item {
    padding: 20px 10px;
}

.header-nav .nav-item:hover {
    background-color: firebrick;
}

.header-nav li {
    padding: 0;
    transition: all 0.2s;
}

.header-nav a, .header-nav a:hover, .header-nav a:focus {
    color: white;
}

.header-nav .navbar-brand {
    font-size: 40px;
}

.header-nav .authorization .aut {
    padding: 30px 10px;
    transition: all 0.2s;
}

.header-nav .authorization .aut:hover {
    background-color: firebrick;
}


/*
    CAROUSEL
 */

.title-carousel {
    padding: 30px 0;
    text-align: center;
}

.carousel {
    height: 400px;

}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(205,92,92,0.1);
}

.carousel-item {
    height: 400px;
}

.carousel-item p {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(205, 92, 92, 0.85);
}

.carousel-item a {
    color: white;
}

.carousel-item a:hover {
    color: #e1e1e1;
    transition: all 0.1s;
}


/*
    TRAINERS CARDS
 */

.main-trainers {
    padding-bottom: 20px;
}

.main-content {
    padding: 30px 0;
    min-height: 442px;
}

.train-cards .card {
    margin-bottom: 40px;
}

.train-cards .img-div {
    overflow: hidden;
    max-height: 220px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.train-cards .card img {
    height: auto;
}

.train-cards a:hover {
    color: black;
}

.train-cards .card:hover {
    background-color: whitesmoke;

}

/*
    SIDEBAR
 */

.sidebar .topics {
    background-color: indianred;
    border-radius: 5px;
    color: white;
}

.sidebar .topics li {
    list-style-type: none;
    padding: 15px 20px;
    border-top: 1px solid ;
}

.sidebar .topics h3 {
    padding: 15px 20px;
}

.sidebar .topics ul {
    padding: 0;
    margin: 0;
}

.sidebar .topics a {
    color: white;
    transition: all 0.2s;
}

.sidebar .topics a:hover {
    color: white;
    padding-left: 5px;
    transition: all 0.2s;
}

.sidebar .title-search {
    padding-top: 15px;
}

.sidebar .sidebar-search {
    background-color: indianred;
    border-radius: 5px;
    padding: 15px;
}

.sidebar .sidebar-search button {
    font-size: 20px;
}

.sidebar .sidebar-search button {
    border-color: white;
    background-color: indianred;
    color: white;
}

.sidebar .sidebar-search button:hover {
    background-color: #c13535;
}

.sidebar .sidebar-search button:active {
    background-color: firebrick;
}

.sidebar .sidebar-search input:focus {
    box-shadow: none;
    border-color: firebrick;
}

/*
    FOOTER
 */

.footer {
    color: white;
    background: indianred;
}

.footer-content {
    text-align: center;
    padding: 30px;
}

.footer .socials {
    padding: 10px 0;
}

.footer .socials a {
    color: white;
    font-size: 30px;
    width: 50px;
    margin: 15px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
}

.footer .socials a:hover {
    color: #e1e1e1;
    border-color: #e1e1e1;
}

.footer .rules {
    font-size: 15px;
}


/*
    PROGRAMS content
 */

.program-cards img {

    border-radius: 5px;
}

.program-cards .img-div {
    max-height: 220px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.program-cards .card {
    margin-bottom: 30px;
    font-size: 15px;
}

.program-cards .card:hover {
    background-color: whitesmoke;
}

.program-cards .card-date {
    padding-bottom: 5px;
}


/*
    TRAINERS content
 */

.trainers-cards img {
    border-radius: 5px;
}

.trainers-cards .img-div {
    max-height: 200px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.trainers-cards .card {
    margin-bottom: 30px;
    font-size: 15px;
}

.trainers-cards .card:hover {
    background-color: whitesmoke;
}

.trainers-cards .card-date {
    padding-bottom: 5px;
}


/*
    ABOUT
 */

.about-content .about-title {
    padding-bottom: 22px;
}

.about-content .row-div {
    padding-bottom: 20px;
}


/*
    MEMBERSHIPS
 */

.memberships-content .card:hover {
    background-color: white;
}


.memberships-content .card-body {
    text-align: center;
}

.memberships-content .card-body .card-describe {
    padding-bottom: 5px;
}

.memberships-content .card-body button {
    margin-top: 8px;
    font-size: 20px;
}


/*
    TRAINER DESCRIBE and PROGRAM DESCRIBE
 */

.trainer-describe .img-div, .program-describe .img-div {
    padding-top: 30px;
    max-width: 700px;
}

.trainer-describe img, .program-describe img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.trainer-describe > div, .program-describe > div {
    padding: 10px 0;
}

.trainer-describe .weight-train, .program-describe .weight-program {
    font-style: italic;
}

.trainer-describe button {
    margin: 10px 0;
    font-size: 20px;
}

/*
    SUPPORT
 */

.support-content .button-support {
    margin-bottom: 40px;
}


/*
    REGISTRATION
 */


.reg-content .button-reg, .aut-content .button-reg {
    margin-left: 10px;
}

.error-msg {
    color: red;
}


/*
    PROFILE
 */


.profile-content img {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.profile-content .img-div {
    padding: 0;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;

}

.profile-content .profile-property {
    padding: 5px 0;
}

.profile-content .admin button {
    font-size: 20px;
    margin: 20px 0;
}

.profile-content .edit button {
    font-size: 20px;
    margin: 10px 0;
}

.profile-edit .btn-div {
    margin-top: 10px;
}

.profile-edit .btn-primary {
    margin-right: 15px;
}

.profile-content .change-photo {
    margin: 20px 0;
}


/*
    FORUM
 */

.forum-content .card {
    margin-bottom: 30px;
}

.forum-content .author {
    display: flex;
}

.forum-content .author div {
    padding: 5px 20px 5px 0px;
    font-style: italic;
    font-size: 16px;
}

.forum-content .card:hover {
    background-color: whitesmoke;
}




/*
    MEDIA SCREEN
 */


@media screen and (max-width: 992px) {
    .program-cards .img-div, .trainers-cards .img-div, .train-cards .img-div{
        max-height: 500px;
    }
}

@media screen and (max-width: 576px) {
    .profile-content .img-div {
        max-height: 500px;
    }
}




/*
    ADMINISTRATION
 */

.admin-content .admin-users-params {
    padding: 10px 0;
    margin: 10px 0;
}

.admin-content .admin-users {
    padding: 10px 0;
    border: 1px solid gray;
    margin: 10px 0;
}

.admin-content .admin-users .delete a {
    color: red;
}

.admin-content .admin-users a:hover {
    text-decoration: underline;
}

.admin-content .admin-users:hover {
    background-color: whitesmoke;
}



























